<!--orbslam load launch-->
<launch>
  <arg name="mapfolder" default="/home/zx/tmps/test/"/>
  <node name="orb_slam_node" pkg="orb_slam_saveload" type="Stereo" args="$(find orb_slam_saveload)/../../../Vocabulary/ORBvoc.txt $(find orb_slam_saveload)/zedstereo.yaml false 0 true $(arg mapfolder)" output="screen">
    <param name="use_compressed" value="false"/>
  </node>
</launch>


